# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Android build files
android/.gradle/
android/app/build/
android/build/
android/app/release/
android/app/debug/

# iOS build files
ios/build/
ios/Pods/
ios/DerivedData/

# Metro bundler cache
.metro/
.metro-health-check*

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Keys & Certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Local environment
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Misc
.orig
